.rojo-tu-countdown-0-x-countdown-countdown-container {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.rojo-tu-countdown-0-x-countdown-countdown-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #4d4d4d0d;
    justify-content: center;
    border-radius: 200px;
    box-shadow: rgb(0 0 0 / 13%) 0px 4px 12px;
}

.rojo-tu-countdown-0-x-countdown-countdown-box-text {
    font-weight: 700;
}

.rojo-tu-countdown-0-x-countdown-countdown-box-time {
    color: #E31A2A;
    font-weight: 700;
}


/*--- Inicio estilos ---*/

@media only screen and (min-width: 1026px) {

    .rojo-tu-countdown-0-x-countdown-countdown-box-text,
    .rojo-tu-countdown-0-x-countdown-countdown-box-time {
        font-size: 1.167315vw;
    }

    .rojo-tu-countdown-0-x-countdown-countdown-box {
        width: 5.836576vw;
        height: 5.836576vw;
        margin: 0 0.486381vw;
    }
}

@media only screen and (max-width: 1025px) {

    .rojo-tu-countdown-0-x-countdown-countdown-box-text,
    .rojo-tu-countdown-0-x-countdown-countdown-box-time {
        font-size: 16px;
    }

    .rojo-tu-countdown-0-x-countdown-countdown-box {
        width: 80px;
        height: 80px;
        margin: 0 10px;
    }
}

/*--- Fin estilos ---*/