.rojo-tu-size-guide-0-x-size-guide-size-guide-box-2-web-size-guide {
    display:flex;
    justify-content: center;
}

.rojo-tu-size-guide-0-x-size-guide-size-guide-box-2-web-size-guide-video{
    width: 69.353125vw;
    height: 39.0625vw;
    background: #201e1e;
}