.rojo-tu-header-0-x-header-header {
    position: sticky;
    top: 0;
    z-index: 999;
}

.rojo-tu-header-0-x-header-box-1 {
    display: flex;
    width: 100%;
    position: relative;
    justify-content: space-between;
    height: 10.311284vw;
}

.rojo-tu-header-0-x-header-center-navigation-container {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}


.rojo-tu-header-0-x-header-nav {
    display: flex;
    justify-content: center;
}

.rojo-tu-header-0-x-header-nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    font-weight: 700;
    margin: 0 22px;
    width: 4.863813vw;
    height: 4.863813vw;
    position: relative;
    background: white;
    border-radius: 202px;
    justify-content: center;
}

.rojo-tu-header-0-x-header-nav-link:first-child,
.rojo-tu-header-0-x-header-nav-link:last-child {
    margin-top: 0.972763vw
}

.rojo-tu-header-0-x-header-nav-link:nth-child(2),
.rojo-tu-header-0-x-header-nav-link:nth-last-child(2) {
    margin-top: 0.632296vw
}


.rojo-tu-header-0-x-header-span-icon-1,
.rojo-tu-header-0-x-header-span-icon-2,
.rojo-tu-header-0-x-header-span-icon-3,
.rojo-tu-header-0-x-header-span-icon-4,
.rojo-tu-header-0-x-header-span-icon-5,
.rojo-tu-header-0-x-header-span-icon-6 {
    display: none;
    color: #4D4D4D;
    position: absolute;
    bottom: -5px;
    transition: fill 0.3s ease-out;
    font-size: 0.77821vw;
}


.rojo-tu-header-0-x-header-nav-link-1:hover .rojo-tu-header-0-x-header-span-icon-1,
.rojo-tu-header-0-x-header-nav-link-2:hover .rojo-tu-header-0-x-header-span-icon-2,
.rojo-tu-header-0-x-header-nav-link-3:hover .rojo-tu-header-0-x-header-span-icon-3,
.rojo-tu-header-0-x-header-nav-link-4:hover .rojo-tu-header-0-x-header-span-icon-4,
.rojo-tu-header-0-x-header-nav-link-5:hover .rojo-tu-header-0-x-header-span-icon-5,
.rojo-tu-header-0-x-header-nav-link-6:hover .rojo-tu-header-0-x-header-span-icon-6 {
    display: flex;
    color: #E31A2A;
}

.rojo-tu-header-0-x-header-nav-link-1 svg,
.rojo-tu-header-0-x-header-nav-link-2 svg,
.rojo-tu-header-0-x-header-nav-link-3 svg,
.rojo-tu-header-0-x-header-nav-link-4 svg,
.rojo-tu-header-0-x-header-nav-link-5 svg,
.rojo-tu-header-0-x-header-nav-link-6 svg {
    fill: #4D4D4D;
    transition: fill 0.3s ease-out;
    width: 3.11284vw;
    height: 3.11284vw;
}

.rojo-tu-header-0-x-header-nav-link-1:hover svg,
.rojo-tu-header-0-x-header-nav-link-2:hover svg,
.rojo-tu-header-0-x-header-nav-link-3:hover svg,
.rojo-tu-header-0-x-header-nav-link-4:hover svg,
.rojo-tu-header-0-x-header-nav-link-5:hover svg,
.rojo-tu-header-0-x-header-nav-link-6:hover svg {
    fill: #E31A2A;
    transition: fill 0.3s ease-out;

}

.rojo-tu-header-0-x-header-image-logo {
    width: 19vw;
}

.rojo-tu-header-0-x-header-left-navigation-container {
    margin-top: 0.972763vw;
    margin-left: 1.945525vw;
}

.rojo-tu-header-0-x-header-header {
    background: url("data:image/svg+xml,%3Csvg width='300' height='134' viewBox='90 25 1250 174' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='1366' height='200' transform='translate(37)' fill='%23F0EFEC'/%3E%3Cpath d='M37 173.5V200L1403 199.5V174C1403 174 989.072 120.748 722.5 120.5C453.997 120.251 37 173.5 37 173.5Z' fill='white'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}


.rojo-tu-header-0-x-header-nav-link-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.rojo-tu-header-0-x-header-nav-link-profile svg{
    width: 2.140078vw;
    height: 2.140078vw;
}

.rojo-tu-header-0-x-header-profile-link-box {
    margin-top: 0.972763vw;
    margin-right: 1.945525vw;
}

.rojo-tu-header-0-x-header-span-name{
    color: #4D4D4D;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 0.972763vw;
    font-weight: 700;
}