.rojo-tu-my-profile-0-x-my-profile-my-profile-2 {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.rojo-tu-my-profile-0-x-my-profile-my-profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #4D4D4D;
}

.rojo-tu-my-profile-0-x-my-profile-my-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rojo-tu-my-profile-0-x-my-profile-my-profile-title {
    font-size: 1.167315vw;
    font-weight: 700;
}

.rojo-tu-my-profile-0-x-my-profile-my-profile-2 {
    width: 100%;
    padding: 0 1.945525vw;
}

.rojo-tu-my-profile-0-x-my-profile-my-profile-2-child {
    margin-bottom: 0.583658vw;
    padding: 0.486381vw 1.459144vw;
    display: flex;
}

.rojo-tu-my-profile-0-x-my-profile-my-profile-container-child.rojo-tu-my-profile-0-x-my-profile-my-profile-container-child-2 {
    padding-left: 10px;
}

.rojo-tu-my-profile-0-x-my-profile-my-profile-container-child-1 span {
    font-size: 0.875486vw;
    font-weight: 700;
}

.rojo-tu-my-profile-0-x-my-profile-my-profile-container-child-2 span,
.rojo-tu-my-profile-0-x-my-profile-my-profile-container-child-2 select {
    font-size: 0.875486vw;
    font-weight: 400;
}

.rojo-tu-my-profile-0-x-my-profile-my-profile-container-child-2 select {
    height: 1.945525vw;
    font-size: 0.875486vw;
    background: white;
    border: 1px solid #4D4D4D;
    padding: 0 1.070039vw;
}

.rojo-tu-my-profile-0-x-my-profile-my-profile-container-child.rojo-tu-my-profile-0-x-my-profile-my-profile-container-child-1 {
    display: flex;
    align-items: center;
}

.rojo-tu-my-profile-0-x-my-profile-my-profile-1 {
    margin: 1.215953vw 0;
}

.rojo-tu-my-profile-0-x-my-profile-my-profile-3 {
    width: 100%;
    margin: 0.972763vw 0;
}

.rojo-tu-my-profile-0-x-my-profile-my-profile-box-footer-box {
    display: flex;
    justify-content: center;
}

.rojo-tu-my-profile-0-x-my-profile-my-profile-button-footer {
    width: 9.727626vw;
    height: 1.945525vw;
    background: #4D4D4D;
    border: none;
    color: white;
    margin-bottom: 0.486381vw;
    font-size: 0.875486vw;
    font-family: 'Lato';
    cursor: pointer;
    transition: all 0.5s ease-out;
    transition: all 0.5s ease-in;
    border-radius: 5px;
}

.rojo-tu-my-profile-0-x-my-profile-my-profile-button-footer:hover {
    background: #E31A2A;
}