.rojo-tu-collection-0-x-collection-collection .rojo-tu-slider-0-x-slider-slider-swiper-image {
    width: 100%;
}

.rojo-tu-collection-0-x-collection-collection .rojo-tu-slider-0-x-slider-slider-swiper {
    width: 90%;
    padding-bottom: 60px;
    margin-top: 120px;
}

.rojo-tu-collection-0-x-collection-collection .rojo-tu-slider-0-x-slider-slider-swiper .swiper-pagination-bullet {
    border-radius: 5px;
    background: #E31A2A;
}

.rojo-tu-collection-0-x-collection-collection .rojo-tu-slider-0-x-slider-slider {
    margin-bottom: 100px;
}

.rojo-tu-galery-0-x-galery-galery-image {
    transition: all 0.5s ease-out;
    transition: all 0.5s ease-in;
    cursor: pointer;
}

.rojo-tu-galery-0-x-galery-galery-image:hover {
    transform:scale(1.1);
    transition: all 0.3s ease-out;
    transition: all 0.3s ease-in;
    cursor: pointer;
}

.swiper-button-lock{
    display: none !important;
}

.rojo-tu-collection-0-x-collection-collection .swiper-button-prev:after,
.rojo-tu-collection-0-x-collection-collection .swiper-button-next:after,
.rojo-tu-quickview-0-x-quickview-slider-quick .swiper-button-prev:after,
.rojo-tu-quickview-0-x-quickview-slider-quick .swiper-button-next:after{
    background: white;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #E31A2A;
}

.rojo-tu-collection-0-x-collection-collection .swiper-button-prev,
.rojo-tu-collection-0-x-collection-collection .swiper-button-next,
.rojo-tu-quickview-0-x-quickview-slider-quick .swiper-button-prev,
.rojo-tu-quickview-0-x-quickview-slider-quick .swiper-button-next{
    background: white;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rojo-tu-quickview-0-x-quickview-slider-quick .swiper-pagination-bullets{
    display: none;;
}

/* .rojo-tu-collection-0-x-collection-collection .rojo-tu-slider-0-x-slider-slider .swiper-slide{
    transition: all 0.5s ease-out;
    transition: all 0.5s ease-in;
} */

.rojo-tu-collection-0-x-collection-collection .rojo-tu-slider-0-x-slider-slider .swiper-slide:hover{
    transform: scale(1.05);
    transition: all 0.3s ease-out;
    transition: all 0.3s ease-in;
}

/*--- Inicio estilos Paginacion Slider ---*/ 

@media only screen and (min-width: 1026px) {
    .rojo-tu-collection-0-x-collection-collection .rojo-tu-slider-0-x-slider-slider-swiper .swiper-pagination-bullet {
        width: 1.459144vw;
        height: 0.389105vw;
    }
}

@media only screen and (max-width: 1025px) {
    .rojo-tu-collection-0-x-collection-collection .rojo-tu-slider-0-x-slider-slider-swiper .swiper-pagination-bullet {
        width: 25px;
        height: 5px;
    }
}

 /*--- Fin estilos Paginacion Slider ---*/ 

