.rojo-tu-header-0-x-header-header {
    position: sticky;
    top: 0;
    z-index: 999;
}

.rojo-tu-header-0-x-header-box-1 {
    display: flex;
    width: 100%;
    position: relative;
    justify-content: space-between;
}

.rojo-tu-header-0-x-header-center-navigation-container {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}


.rojo-tu-header-0-x-header-nav {
    display: flex;
    justify-content: center;
}

.rojo-tu-header-0-x-header-nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    font-weight: 700;
    position: relative;
    background: white;
    border-radius: 202px;
    justify-content: center;
}

.rojo-tu-header-0-x-header-nav-link:first-child,
.rojo-tu-header-0-x-header-nav-link:last-child {
    margin-top: 0.972763vw
}

.rojo-tu-header-0-x-header-nav-link:nth-child(2),
.rojo-tu-header-0-x-header-nav-link:nth-last-child(2) {
    margin-top: 0.632296vw
}


.rojo-tu-header-0-x-header-span-icon-1,
.rojo-tu-header-0-x-header-span-icon-2,
.rojo-tu-header-0-x-header-span-icon-3,
.rojo-tu-header-0-x-header-span-icon-4,
.rojo-tu-header-0-x-header-span-icon-5,
.rojo-tu-header-0-x-header-span-icon-6 {
    display: flex;
    color: #4D4D4D;
    position: absolute;
    transition: fill 0.3s ease-out;
}


.rojo-tu-header-0-x-header-nav-link-1:hover .rojo-tu-header-0-x-header-span-icon-1,
.rojo-tu-header-0-x-header-nav-link-2:hover .rojo-tu-header-0-x-header-span-icon-2,
.rojo-tu-header-0-x-header-nav-link-3:hover .rojo-tu-header-0-x-header-span-icon-3,
.rojo-tu-header-0-x-header-nav-link-4:hover .rojo-tu-header-0-x-header-span-icon-4,
.rojo-tu-header-0-x-header-nav-link-5:hover .rojo-tu-header-0-x-header-span-icon-5,
.rojo-tu-header-0-x-header-nav-link-6:hover .rojo-tu-header-0-x-header-span-icon-6 {
    display: flex;
    color: #E31A2A;
}

.rojo-tu-header-0-x-header-nav-link-1 svg,
.rojo-tu-header-0-x-header-nav-link-2 svg,
.rojo-tu-header-0-x-header-nav-link-3 svg,
.rojo-tu-header-0-x-header-nav-link-4 svg,
.rojo-tu-header-0-x-header-nav-link-5 svg,
.rojo-tu-header-0-x-header-nav-link-6 svg {
    fill: #4D4D4D;
    transition: fill 0.3s ease-out;
}

.rojo-tu-header-0-x-header-nav-link-1:hover svg,
.rojo-tu-header-0-x-header-nav-link-2:hover svg,
.rojo-tu-header-0-x-header-nav-link-3:hover svg,
.rojo-tu-header-0-x-header-nav-link-4:hover svg,
.rojo-tu-header-0-x-header-nav-link-5:hover svg,
.rojo-tu-header-0-x-header-nav-link-6:hover svg {
    fill: #E31A2A;
    transition: fill 0.3s ease-out;

}

.rojo-tu-header-0-x-header-image-logo {
    width: 19vw;
}

.rojo-tu-header-0-x-header-left-navigation-container {
    margin-top: 0.972763vw;
    margin-left: 1.945525vw;
}


.rojo-tu-header-0-x-header-nav-link-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}

.rojo-tu-header-0-x-header-profile-link-box {
    margin-top: 0.972763vw;
    margin-right: 1.945525vw;
}

.rojo-tu-header-0-x-header-span-name {
    color: white;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 700;
}

.rojo-tu-header-0-x-header-nav-link-profile {
    background: none;
    border: none;
}



/*--- Inicio estilos ---*/

.rojo-tu-layout-0-x-layout-link-to-gender-a {
    text-decoration: none;
    color: #4D4D4D;
    font-weight: 800;
}

.rojo-tu-layout-0-x-layout-link-to-gender-container {
    width: 300px;
    position: fixed;
    bottom: 10px;
    right: 30px;
    background: #d8d8d8;
    padding: 15px 20px;
    border-radius: 16px;
    z-index: 900;
    box-shadow: -2px -6px 13px -9px rgba(227, 26, 42, 1);
}

.rojo-tu-layout-0-x-layout-link-to-gender {
    text-align: center;
}

@media only screen and (min-width: 1026px) {

    .rojo-tu-header-0-x-header-nav-link {
        width: 4.863813vw;
        height: 4.863813vw;
        margin: 0 22px;
    }


    .rojo-tu-header-0-x-header-nav-link-1 svg,
    .rojo-tu-header-0-x-header-nav-link-2 svg,
    .rojo-tu-header-0-x-header-nav-link-3 svg,
    .rojo-tu-header-0-x-header-nav-link-4 svg,
    .rojo-tu-header-0-x-header-nav-link-5 svg,
    .rojo-tu-header-0-x-header-nav-link-6 svg {
        width: 3.11284vw;
        height: 3.11284vw;
    }

    .rojo-tu-header-0-x-header-span-icon-1,
    .rojo-tu-header-0-x-header-span-icon-2,
    .rojo-tu-header-0-x-header-span-icon-3,
    .rojo-tu-header-0-x-header-span-icon-4,
    .rojo-tu-header-0-x-header-span-icon-5,
    .rojo-tu-header-0-x-header-span-icon-6 {
        font-size: 0.77821vw;
        bottom: -5px;
    }

    .rojo-tu-header-0-x-header-box-1 {
        height: 10.311284vw;
    }

    .rojo-tu-header-0-x-header-center-navigation-container {
        top: 60%;
    }

    .rojo-tu-header-0-x-header-span-name {
        font-size: 0.972763vw;
    }

    .rojo-tu-header-0-x-header-login-form-help svg,
    .rojo-tu-header-0-x-header-nav-link-profile svg {
        width: 2.140078vw;
        height: 2.140078vw;
    }

    .rojo-tu-header-0-x-header-header {
        background: url('data:image/svg+xml,<svg width="1682" height="195" viewBox="0 0 1682 195" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="1678.76" height="191.491" fill="%23EB1C23"/><path d="M0 169.667V195L1682 194.522V170.145C1682 170.145 1172.32 119.238 844.078 119.001C513.462 118.762 0 169.667 0 169.667Z" fill="white"/></svg>');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }

}

@media only screen and (max-width: 1025px) {

    .rojo-tu-header-0-x-header-nav-link {
        width: 8.11284vw;
        height: 8.11284vw;
        margin: 0 18px;
    }

    .rojo-tu-header-0-x-header-nav-link-1 svg,
    .rojo-tu-header-0-x-header-nav-link-2 svg,
    .rojo-tu-header-0-x-header-nav-link-3 svg,
    .rojo-tu-header-0-x-header-nav-link-4 svg,
    .rojo-tu-header-0-x-header-nav-link-5 svg,
    .rojo-tu-header-0-x-header-nav-link-6 svg {
        width: 7.11284vw;
        height: 7.11284vw;
    }

    .rojo-tu-header-0-x-header-span-icon-1,
    .rojo-tu-header-0-x-header-span-icon-2,
    .rojo-tu-header-0-x-header-span-icon-3,
    .rojo-tu-header-0-x-header-span-icon-4,
    .rojo-tu-header-0-x-header-span-icon-5,
    .rojo-tu-header-0-x-header-span-icon-6 {
        font-size: 2.03666vw;
        bottom: -15px;
    }

    .rojo-tu-header-0-x-header-box-1 {
        height: 19.311284vw;
    }

    .rojo-tu-header-0-x-header-span-icon-5 {
        bottom: -4.887984vw;
        text-align: center;
    }


    .rojo-tu-header-0-x-header-image-logo {
        width: 35vw;
    }

    .rojo-tu-header-0-x-header-center-navigation-container {
        top: 85%;
    }

    .rojo-tu-header-0-x-header-span-name {
        font-size: 2.325581vw;
    }

    .rojo-tu-header-0-x-header-login-form-help svg {
        width: 5.651163vw;
        height: 5.651163vw;
    }

    .rojo-tu-header-0-x-header-nav-link-profile svg {
        width: 4.651163vw;
        height: 4.651163vw;
    }

    .rojo-tu-header-0-x-header-container {
        background: url('data:image/svg+xml,<svg width="1682" height="373" viewBox="0 0 1682 373" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="1678.76" height="366.288" fill="%23EB1C23"/><path d="M0 337.667V373L1682 372.333V338.334C1682 338.334 1172.32 267.331 844.078 267.001C513.462 266.669 0 337.667 0 337.667Z" fill="white"/></svg>');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }

    .rojo-tu-header-0-x-header-header {
        background: white;
        height: 24.418605vw;
    }
}



/*--- Fin estilos ---*/