.rojo-tu-slider-0-x-slider-galery-image-button-quickview-span {
    border-radius: 16px;
    display: flex;
    color: white;
    border: 1px solid white;
    background: #E31A2A;
    align-items: center;
    justify-content: center;
}

.rojo-tu-slider-0-x-slider-galery-image-button-quickview-button {
    background: none;
    border: none;
    position: absolute;
    cursor: pointer;
    z-index: 10;
}




.rojo-tu-slider-0-x-slider-galery-image-button-quickview-1 {
    transform: translate(-100%, -300%);
}

.rojo-tu-slider-0-x-slider-galery-image-button-quickview-2 {
    transform: translate(0%, -230%);
}

.rojo-tu-slider-0-x-slider-galery-image-button-quickview-3 {
    transform: translate(-50%, -50%);
}



.rojo-tu-slider-0-x-slider-galery-image-button-quickview-1,
.rojo-tu-galery-0-x-galery-galery-container-right .rojo-tu-galery-0-x-galery-galery-image-button-quickview-1 {
    transform: translate(-110%, -500%);
}

.rojo-tu-slider-0-x-slider-galery-image-button-quickview-2,
.rojo-tu-galery-0-x-galery-galery-container-right .rojo-tu-galery-0-x-galery-galery-image-button-quickview-2 {
    transform: translate(-23%, -310%);
}

.rojo-tu-slider-0-x-slider-galery-image-button-quickview-3,
.rojo-tu-galery-0-x-galery-galery-container-right .rojo-tu-galery-0-x-galery-galery-image-button-quickview-3 {
    transform: translate(-50%, 10%);
}



.rojo-tu-slider-0-x-slider-slider-swiper-link-front {
    background: none;
    border: none;
    cursor: pointer;
}


/*--- Inicio estilos ---*/ 

@media only screen and (min-width: 1026px) {

    .rojo-tu-slider-0-x-slider-galery-image-button-quickview-span {
        width: 1.070039vw;
        height: 1.070039vw;
        font-size: 0.77821vw;
    }

    .rojo-tu-slider-0-x-slider-galery-image-button-quickview-button {
        top: 50%;
        left: 50%;
    }
    

}

@media only screen and (max-width: 1025px) {

    .rojo-tu-slider-0-x-slider-galery-image-button-quickview-span {
        width: 20px;
        height: 20px;
        font-size: 14px;
    }

    .rojo-tu-slider-0-x-slider-galery-image-button-quickview-button {
        top: 65%;
        left: 52%;
    }

}

 /*--- Fin estilos ---*/ 

