.rojo-tu-my-profile-0-x-my-profile-my-profile-2 {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.rojo-tu-my-profile-0-x-my-profile-my-profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rojo-tu-my-profile-0-x-my-profile-my-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rojo-tu-my-profile-0-x-my-profile-my-profile-title {
    font-weight: 700;
}

.rojo-tu-my-profile-0-x-my-profile-my-profile-2 {
    width: 100%;
    padding: 0 1.945525vw;
}

.rojo-tu-my-profile-0-x-my-profile-my-profile-2-child {
    display: flex;
}

.rojo-tu-my-profile-0-x-my-profile-my-profile-container-child.rojo-tu-my-profile-0-x-my-profile-my-profile-container-child-2 {
    padding-left: 10px;
}

.rojo-tu-my-profile-0-x-my-profile-my-profile-container-child-1 span {
    font-weight: 700;
}

.rojo-tu-my-profile-0-x-my-profile-my-profile-container-child-2 span,
.rojo-tu-my-profile-0-x-my-profile-my-profile-container-child-2 select {
    font-weight: 400;
}

.rojo-tu-my-profile-0-x-my-profile-my-profile-container-child-2 select {
    height: 1.945525vw;
    font-size: 0.875486vw;
    background: white;
    border: 1px solid #4D4D4D;
    padding: 0 1.070039vw;
}

.rojo-tu-my-profile-0-x-my-profile-my-profile-container-child.rojo-tu-my-profile-0-x-my-profile-my-profile-container-child-1 {
    display: flex;
    align-items: center;
}

.rojo-tu-my-profile-0-x-my-profile-my-profile-3 {
    width: 100%;
    margin: 0.972763vw 0;
}

.rojo-tu-my-profile-0-x-my-profile-my-profile-box-footer-box {
    display: flex;
    justify-content: center;
}

.rojo-tu-my-profile-0-x-my-profile-my-profile-button-footer {
    background: #4D4D4D;
    border: none;
    color: white;
    font-family: 'Lato';
    cursor: pointer;
    transition: all 0.5s ease-out;
    transition: all 0.5s ease-in;
    border-radius: 5px;
}

.rojo-tu-my-profile-0-x-my-profile-my-profile-button-footer:hover {
    background: #E31A2A;
}



.rojo-tu-my-profile-0-x-my-profile-my-profile-button-close {
    background: none;
    border: none;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}



.rojo-tu-my-profile-0-x-my-profile-my-profile {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 15px;
}


.rojo-tu-my-profile-0-x-my-profile-my-profile-overlay {
    background: #000000ab;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100vh;
}



/*--- Inicio estilos ---*/

@media only screen and (min-width: 1026px) {

    .rojo-tu-my-profile-0-x-my-profile-my-profile-title {
        font-size: 1.167315vw;
    }


    .rojo-tu-my-profile-0-x-my-profile-my-profile-container-child-1 span {
        font-size: 0.875486vw;
    }

    .rojo-tu-my-profile-0-x-my-profile-my-profile-container-child-2 span,
    .rojo-tu-my-profile-0-x-my-profile-my-profile-container-child-2 select {
        font-size: 0.875486vw;
    }

    .rojo-tu-my-profile-0-x-my-profile-my-profile-2-child {
        margin-bottom: 0.583658vw;
        padding: 0.486381vw 1.459144vw;
        display: flex;
    }

    .rojo-tu-my-profile-0-x-my-profile-my-profile-button-footer {
        width: 9.727626vw;
        height: 1.945525vw;
        margin-bottom: 0.486381vw;
        font-size: 0.875486vw;
    }

    .rojo-tu-my-profile-0-x-my-profile-my-profile-1 {
        margin: 1.215953vw 0;
    }

}

@media only screen and (max-width: 1025px) {

    .rojo-tu-my-profile-0-x-my-profile-my-profile-title {
        font-size: 5.581395vw;
        margin-top: 2.325581vw;
        display: block;
    }

    .rojo-tu-my-profile-0-x-my-profile-my-profile-container-child-1 span {
        font-size: 3.488372vw;
    }

    .rojo-tu-my-profile-0-x-my-profile-my-profile-container-child-2 span,
    .rojo-tu-my-profile-0-x-my-profile-my-profile-container-child-2 select {
        font-size: 3.255814vw;
    }

    .rojo-tu-my-profile-0-x-my-profile-my-profile-2-child {
        margin-bottom: 3.488372vw;
        padding: 0px 1.162791vw;
        display: flex;
    }

    .rojo-tu-my-profile-0-x-my-profile-my-profile{
        width: 95%;
        height: 93.023256vw;
    }

    .rojo-tu-my-profile-0-x-my-profile-my-profile-button-footer {
        width: 46.511628vw;
        height: 9.302326vw;
        font-size: 4.186047vw;
    }

    .rojo-tu-my-profile-0-x-my-profile-my-profile-button-close svg{
        width: 7.906977vw;
        height: 7.906977vw;
    }

    .rojo-tu-my-profile-0-x-my-profile-my-profile-1 {
        margin: 2.325581vw 0;
    }
    
    .rojo-tu-my-profile-0-x-my-profile-my-profile-container {
        width: 100%;
    }
    
    .rojo-tu-my-profile-0-x-my-profile-my-profile-2-child-1,
    .rojo-tu-my-profile-0-x-my-profile-my-profile-2-child-2{
        width: 50%;
    }

    .rojo-tu-my-profile-0-x-my-profile-my-profile-2-child-2{
        padding-left: 6.976744vw;
    }
    
    .rojo-tu-my-profile-0-x-my-profile-my-profile-1{
        margin-top: 4.651163vw;
    }
    
    .rojo-tu-my-profile-0-x-my-profile-my-profile-2{
        margin-top: 4.651163vw;
    }
    
    .rojo-tu-my-profile-0-x-my-profile-my-profile-3{
        margin-top: 6.976744vw;
    }

}

/*--- Fin estilos ---*/