.rojo-tu-product-list-0-x-product-list-product-list-container {
    display: flex;
    justify-content: center;
}

.rojo-tu-product-list-0-x-product-list-product-list-container-products {
    max-width: 80%;
}


.rojo-tu-product-list-0-x-product-list-product-list-box {
    display: flex;
    flex-wrap: wrap;
}

.rojo-tu-product-list-0-x-product-list-product-list-box .rojo-tu-card-0-x-card-card {
    padding: 2px;
    position: relative;
}

.rojo-tu-card-0-x-card-card-body-image {
    width: 100%;
}

.rojo-tu-card-0-x-card-card-body {
    position: relative;
}

.rojo-tu-card-0-x-card-card-body-button-quickview {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rojo-tu-card-0-x-card-card-body-button-quickview {
    background: transparent;
    border: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
    padding: 0;
}


.rojo-tu-card-0-x-card-card-body .rojo-tu-card-0-x-card-card-body-button-overlay {
    visibility: hidden;
}

.rojo-tu-card-0-x-card-card-body:hover .rojo-tu-card-0-x-card-card-body-button-overlay {
    visibility: visible;
}


.rojo-tu-card-0-x-card-card-body-button-quickview-text {
    font-size: 0.77821vw;
    background: #f2f1ee;
    margin: 0 auto;
    border: none;
    width: 20%;
    height: 1.945525vw;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    transition: visibility 0.5s ease-out;
    transition: width 0.5s ease-out;
    transition: width 0.5s ease-in;
}

.rojo-tu-card-0-x-card-card-body:hover .rojo-tu-card-0-x-card-card-body-button-quickview-text {

    width: 100%;
    visibility: visible;
    transition: visibility 0.5s ease-out;
    transition: width 0.5s ease-out;
    transition: width 0.5s ease-in;
}



.rojo-tu-card-0-x-card-card-footer-product-sku,
.rojo-tu-card-0-x-card-card-footer-container-name,
.rojo-tu-card-0-x-card-card-footer-body-product-buy-size-text {
    text-transform: capitalize;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.rojo-tu-card-0-x-card-card-footer-product-sku-days-body-my-cart {
    flex-direction: column;
}

.rojo-tu-card-0-x-card-card-footer-body-product-buy-size-1 {
    margin-bottom: 0.390625vw
}

.rojo-tu-card-0-x-card-card-footer-body-product-buy-size-2 {
    width: 100%;
}

.rojo-tu-card-0-x-card-card-footer-product-sku-size {
    width: auto;
    display: flex;
    border: 1px solid #4D4D4D;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 2px;
    color: #4D4D4D;
    transition: all 0.3s ease-out;
    background: none;
}

.rojo-tu-card-0-x-card-card-footer-product-sku-size:hover {
    background: #E31A2A;
    border: none;
    color: white;
    cursor: pointer;
}

.rojo-tu-card-0-x-card-card-footer-product-sku {
    margin-top: 6px;
}

.rojo-tu-card-0-x-card-card-footer .rojo-tu-card-0-x-card-card-footer-container-name {
    margin-bottom: 10px;
    margin-top: 5px;
}

.rojo-tu-card-0-x-card-card-footer-product-sizes {
    display: flex;
    flex-wrap: wrap;
}


.rojo-tu-product-list-0-x-product-list-product-list-pagination {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 160px;
}



.rojo-tu-counter-0-x-counter-counter-cart-number svg {
    fill: #4D4D4D;
}


.rojo-tu-product-list-0-x-product-list-product-list-counter {
    position: sticky;
    background: white;
    z-index: 990;
    display: flex;
    align-items: center;
}

.rojo-tu-counter-0-x-counter-counter-cart-number {
    display: flex;
    justify-content: center;
}

.rojo-tu-counter-0-x-counter-counter-cart-top-count,
.rojo-tu-counter-0-x-counter-counter-cart-bottom-count,
.rojo-tu-counter-0-x-counter-counter-cart-others-count {
    display: flex;
    background: #989898;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    position: absolute;
}

.rojo-tu-counter-0-x-counter-counter-cart-top,
.rojo-tu-counter-0-x-counter-counter-cart-bottom,
.rojo-tu-counter-0-x-counter-counter-cart-others {
    position: relative;
}

.rojo-tu-product-list-0-x-product-list-product-list-pagination-prev {
    background: #4D4D4D;
    color: white;
    font-family: 'Lato';
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.rojo-tu-product-list-0-x-product-list-product-list-pagination-next {
    background: #4D4D4D;
    color: white;
    font-family: 'Lato';
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.rojo-tu-counter-0-x-counter-counter-cart-top,
.rojo-tu-counter-0-x-counter-counter-cart-bottom,
.rojo-tu-counter-0-x-counter-counter-cart-others {
    transition: all 0.5s ease-out;
    transition: all 0.5s ease-in;
}

.rojo-tu-counter-0-x-counter-counter-cart-top:hover,
.rojo-tu-counter-0-x-counter-counter-cart-bottom:hover,
.rojo-tu-counter-0-x-counter-counter-cart-others:hover {
    transform: scale(1.02);
}

.rojo-tu-product-list-0-x-product-list-product-list-empty {
    margin: 3.891051vw 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.rojo-tu-product-list-0-x-product-list-product-list-empty-label {
    font-weight: 600;
}



.rojo-tu-counter-0-x-counter-counter-cart-top,
.rojo-tu-counter-0-x-counter-counter-cart-bottom,
.rojo-tu-counter-0-x-counter-counter-cart-others {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rojo-tu-product-list-0-x-product-list-product-list-box-counter {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.rojo-tu-buy-button-0-x-buy-button-buy-button-button {
    position: absolute;
    right: 0.972763vw;
    background: #4D4D4D;
    color: white;
    border-radius: 5px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s ease-out;
    transition: all 0.5s ease-in;
}

.rojo-tu-buy-button-0-x-buy-button-buy-button-button:hover {
    background: #E31A2A;
}

.rojo-tu-buy-button-0-x-buy-button-buy-button-container {
    display: flex;
    align-items: center;
}


.rojo-tu-card-0-x-card-card-footer-product-sku-size-box,
.rojo-tu-card-0-x-card-card-footer-product-sku-days-box {
    display: flex;
    flex-wrap: wrap;
}

.rojo-tu-card-0-x-card-card-footer-product-sku-day {
    width: 3.945525vw;
}


.rojo-tu-card-0-x-card-card-footer-product-sku-days-box {
    width: 100%;
    flex-direction: column;
}

.rojo-tu-card-0-x-card-card-footer-product-sku-days-title-span {
    font-size: 0.77821vw;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.rojo-tu-card-0-x-card-card-footer-product-sku-days-body {
    display: flex;
    flex-wrap: wrap;
    height: 3.125vw;
}

.rojo-tu-card-0-x-card-card-footer-product-sku-days-box-title {
    margin-bottom: 5px;
}

.rojo-tu-card-0-x-card-card-footer-product-sku-days-body .rojo-tu-card-0-x-card-card-footer-product-sku-size:hover {
    background: none;
    color: #4D4D4D;
    border: 1px solid #4D4D4D;
    cursor: pointer;
    pointer-events: none;
}



.rojo-tu-card-0-x-card-card-footer-body-product-buy-container {
    width: 100%;
}

.rojo-tu-card-0-x-card-card-footer-body-product-buy-button {
    background: #4D4D4D;
    color: white;
    font-size: 0.875486vw;
    width: 100%;
    height: 2.188716vw;
    margin-bottom: 0.372763vw;
    font-family: 'Lato';
    cursor: pointer;
    transition: all 0.5s ease-out;
    transition: all 0.5s ease-in;
    box-shadow: none;
    border: none;
}

.rojo-tu-card-0-x-card-card-footer-body-product-buy-button:hover {
    background: #E31A2A;
    color: white;
    border: none;
}


.rojo-tu-card-0-x-card-card-header {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 90%;
    z-index: 1;
}

.rojo-tu-card-0-x-card-card-header-remove-item {
    display: flex;
    justify-content: flex-end;
}

.rojo-tu-card-0-x-card-card-header-remove-item-button {
    background: none;
    border: none;
    cursor: pointer;
}

.rojo-tu-card-0-x-card-card-header-remove-item svg {
    fill: #4D4D4D;
    transition: all 0.5s ease-out;
    transition: all 0.5s ease-in;
}

.rojo-tu-card-0-x-card-card-header-remove-item svg:hover {
    fill: #E31A2A;
}

.rojo-tu-counter-0-x-counter-counter-cart-number button {
    background: none;
    border: none;
    cursor: pointer;
}

.rojo-tu-counter-0-x-counter-counter-cart-number button svg {
    transition: all 0.5s ease-out;
    transition: all 0.5s ease-in;
}

.rojo-tu-counter-0-x-counter-counter-cart-number button svg:hover {
    background: none;
    border: none;
    cursor: pointer;
    fill: #E31A2A;
}

.rojo-tu-counter-0-x-counter-counter-cart-top-icon svg {
    fill: #4D4D4D;
    transition: all 0.5s ease-out;
    transition: all 0.5s ease-in;
}

.rojo-tu-counter-0-x-counter-counter-cart-top-icon svg:hover,
.rojo-tu-counter-0-x-counter-counter-cart-bottom-icon svg:hover,
.rojo-tu-counter-0-x-counter-counter-cart-others-icon svg:hover,
.rojo-tu-counter-0-x-counter-counter-cart-others-icon svg:hover {
    fill: #E31A2A;
}

.rojo-tu-product-list-0-x-product-list-product-list-empty-remove-filters {
    background: #4D4D4D;
    color: white;
    font-family: 'Lato';
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin-top: 20px;
}

.rojo-tu-product-list-0-x-product-list-product-list-box-counter-block .rojo-tu-counter-0-x-counter-counter-cart-number .rojo-tu-counter-0-x-counter-block-button {
    pointer-events: none;
    cursor: not-allowed;
}

.rojo-tu-counter-0-x-counter-counter-cart-others-icon:hover {
    cursor: not-allowed;
}

.rojo-tu-buy-button-0-x-buy-button-buy-button-button-block {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed
}

.rojo-tu-card-0-x-card-card-footer-product-sku-days-body-my-cart {
    height: auto;
}

.rojo-tu-card-0-x-card-card-footer-product-sizes-block,
.rojo-tu-quickview-0-x-quickview-quickview-body-product-buy-container-block {
    opacity: 0.5;
    pointer-events: none;
}

.rojo-tu-counter-0-x-counter-counter-cart-top-icon-active svg{
    fill: #E31A2A
}


/*--- Inicio estilos ---*/

@media only screen and (min-width: 1026px) {
    .rojo-tu-product-list-0-x-product-list-product-list-box .rojo-tu-card-0-x-card-card {
        width: 25%;
    }

    .rojo-tu-card-0-x-card-card-footer-product-sku,
    .rojo-tu-card-0-x-card-card-footer-container-name,
    .rojo-tu-card-0-x-card-card-footer-body-product-buy-size-text {
        font-size: 0.77821vw;
        max-width: 12.159533vw;
    }


    .rojo-tu-card-0-x-card-card-footer-product-sku-size {
        min-width: 1.945525vw;
        height: 1.215953vw;
        font-size: 0.583658vw;
        margin-bottom: 0.340467vw;
    }

    .rojo-tu-product-list-0-x-product-list-product-list-container-products {
        max-width: 80%;
    }

    .rojo-tu-product-list-0-x-product-list-product-list-counter {
        top: 9.738521vw;
        height: 4.377432vw;
    }

    .rojo-tu-counter-0-x-counter-counter-cart-number svg {
        width: 3.51284vw;
        height: 3.51284vw;
    }


    .rojo-tu-counter-0-x-counter-counter-cart-top,
    .rojo-tu-counter-0-x-counter-counter-cart-bottom,
    .rojo-tu-counter-0-x-counter-counter-cart-others {
        width: 5.593385vw;
    }


    .rojo-tu-counter-0-x-counter-counter-cart-top-count,
    .rojo-tu-counter-0-x-counter-counter-cart-bottom-count,
    .rojo-tu-counter-0-x-counter-counter-cart-others-count {
        width: 1.070039vw;
        height: 1.070039vw;
        top: 36%;
        left: 57%;
        font-size: 0.575486vw;
        z-index: 999;
    }


    .rojo-tu-buy-button-0-x-buy-button-buy-button-button {
        right: 0.972763vw;
        width: 7.29572vw;
        height: 1.945525vw;
        font-size: 0.77821vw;
    }

    .rojo-tu-product-list-0-x-product-list-product-list-box-counter {
        justify-content: center;
    }

    .rojo-tu-product-list-0-x-product-list-product-list-counter {
        justify-content: center;
    }

    .rojo-tu-product-list-0-x-product-list-product-list-empty-label {
        font-size: 1.167315vw;
    }

    .rojo-tu-product-list-0-x-product-list-product-list-empty-remove-filters {
        font-size: 0.875486vw;
        width: 7.29572vw;
        height: 2.188716vw;
        margin-top: 0.972763vw;
        margin: 0 0.486381vw;
    }

    .rojo-tu-product-list-0-x-product-list-product-list-pagination-next {
        font-size: 0.875486vw;
        width: 7.29572vw;
        height: 2.188716vw;
        margin-top: 0.972763vw;
        margin: 0 0.486381vw;
    }


    .rojo-tu-product-list-0-x-product-list-product-list-pagination-prev {
        font-size: 0.875486vw;
        width: 7.29572vw;
        height: 2.188716vw;
        margin-top: 0.972763vw;
        margin: 0 0.486381vw;
    }

    .rojo-tu-quickview-0-x-quickview-quickview-body-product-buy-button {
        height: 2.188716vw;
        margin-top: 0.972763vw;
    }

}

@media only screen and (max-width: 1025px) {
    .rojo-tu-product-list-0-x-product-list-product-list-box .rojo-tu-card-0-x-card-card {
        width: 50%;
    }

    .rojo-tu-card-0-x-card-card-footer-product-sku,
    .rojo-tu-card-0-x-card-card-footer-container-name,
    .rojo-tu-card-0-x-card-card-footer-body-product-buy-size-text {
        font-size: 3.72093vw;
        max-width: 37.209302vw;
    }

    .rojo-tu-card-0-x-card-card-footer-product-sku-size {
        min-width: 1.945525vw;
        height: 5.813953vw;
        font-size: 3.255814vw;
        margin-bottom: 2.325581vw;
    }

    .rojo-tu-product-list-0-x-product-list-product-list-container-products {
        max-width: 95%;
    }

    .rojo-tu-product-list-0-x-product-list-product-list-counter {
        top: 24vw;
        height: 13.953488vw;
    }

    .rojo-tu-counter-0-x-counter-counter-cart-number svg {
        width: 10.465116vw;
        height: 10.465116vw;
    }

    .rojo-tu-counter-0-x-counter-counter,
    .rojo-tu-counter-0-x-counter-counter-cart-number {
        width: 100%;
    }

    .rojo-tu-counter-0-x-counter-counter-cart-top-count,
    .rojo-tu-counter-0-x-counter-counter-cart-bottom-count,
    .rojo-tu-counter-0-x-counter-counter-cart-others-count {
        width: 3.488372vw;
        height: 3.488372vw;
        top: 40%;
        left: 50%;
        font-size: 1.860465vw;
    }

    .rojo-tu-buy-button-0-x-buy-button-buy-button-button {
        right: 0.972763vw;
        width: 16.27907vw;
        height: 4.651163vw;
        font-size: 2.093023vw;
    }

    .rojo-tu-product-list-0-x-product-list-product-list-counter {
        align-items: flex-end;
        padding-bottom: 10px;
    }

    .rojo-tu-counter-0-x-counter-counter-cart-number {
        padding-right: 40px;
    }

    .rojo-tu-product-list-0-x-product-list-product-list-empty-label {
        font-size: 3.72093vw;
    }

    .rojo-tu-product-list-0-x-product-list-product-list-empty-remove-filters {
        font-size: 3.72093vw;
        width: 34.883721vw;
        height: 6.976744vw;
        margin-top: 3.72093vw;
    }

    .rojo-tu-product-list-0-x-product-list-product-list-pagination-next {
        font-size: 2.790698vw;
        width: 18.604651vw;
        height: 6.976744vw;
        margin-top: 6.976744vw;
        margin: 0 2.325581vw;
    }

    .rojo-tu-product-list-0-x-product-list-product-list-pagination-prev {
        font-size: 2.790698vw;
        width: 18.604651vw;
        height: 6.976744vw;
        margin-top: 6.976744vw;
        margin: 0 2.325581vw;
    }

    .rojo-tu-quickview-0-x-quickview-quickview-body-product-buy-button {
        height: 9.302326vw;
        margin-top: 4.651163vw;
        font-size: 3.72093vw;
    }

}

/*--- Fin estilos ---*/



.rojo-tu-product-list-0-x-product-list-product-list-box .rojo-tu-card-0-x-card-card {
    width: 50%;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .rojo-tu-product-list-0-x-product-list-product-list-box .rojo-tu-card-0-x-card-card {
        width: 33.333%;
    }
}

@media (min-width: 1027px) {
    .rojo-tu-product-list-0-x-product-list-product-list-box .rojo-tu-card-0-x-card-card {
        width: 25%;
    }
}
